{% extends 'front-end/list.html' %}
{% load static %}
{% block table %}
    <thead>
    <tr>
        <th style="width: 18%">Empleado</th>
        <th style="width: 10%">Cedula</th>
        <th style="width: 10%">Correo </th>
        <th style="width: 10%">Telefono  </th>
        <th style="width: 10%">Celular  </th>
        <th style="width: 10%">Direccion  </th>
        <th style="width: 10%">Cargo  </th>
        <th style="width: 10%" class="text-center">Opciones</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
{% endblock %}
{% block extra %}
    <input type="hidden" id="num_emp" value="{{ num_emp }}">
    <script src="{% static 'apps/empleado/list.js' %}"></script>
    <script src="{% static 'apps/empleado/form.js' %}"></script>
{% endblock %}