{% extends 'front-end/base.html' %}
{% load static %}
{% block content %}
    {% block otro %}
        <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800"><i class="{{ icono }}"></i> {{ entidad }}</h1>
            <!-- Content Row -->
            {% block formulario %}
                <!-- Formulario -->
                <div class="card col-xl-12">
                    <div class="card-body">
                        <div class="col-xl-12 col-lg-12" id="div_form">
                            <form class="form-horizontal" id="form" method="POST" action="{{ crud }}">
                                <div class="panel panel-primary">
                                    <!-- Card Header -->
                                    <div class="panel-heading">
                                        <div class="container">
                                            <h4 class="m-0 font-weight-bold"><i
                                                    class="far fa-edit"></i> Formulario de Registro</h4>
                                        </div>
                                    </div>
                                    <!-- Card Body -->
                                    <div class="panel-body">
                                        {% csrf_token %}
                                        {{ form.media }}
                                        <input type="hidden" id="action" name="action" value="{{ action }}">
                                        <input type="hidden" id="indice" name="indice" value="{{ empresa.indice }}">
                                        <input type="hidden" id="iva" name="iva" value="{{ empresa.iva }}">
                                        <input type="hidden" name="option" value="{{ option }}">
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                        {% for field in form.visible_fields %}
                                            <div class="col-lg-5">

                                                <label class="control-label">{{ field.label_tag }}</label>
                                                <label class="badge bg-important">{{ field.errors }}</label>
                                                {{ field }}

                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="panel-footer">
                                        <button class="btn btn-primary btn-sm" type="submit"><i
                                                class="fa fa-save"></i> {{ boton }}
                                        </button>
                                        <a type="button" class="btn btn-danger btn-sm" style="color:white;"
                                           id="cancel">
                                            <i class="fas fa-times"></i> Cancelar
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    {% endblock %}
    <div class="container-fluid">
        <div class="col-xl-12 col-sm-12" id="div_table">
            <!-- Tabla Listado -->
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="container">
                        <h4 class="m-0 font-weight-bold"><i class="fas fa-list-ol"></i> {{ titulo_lista }}
                        </h4>
                    </div>
                </div>
                <div class="panel-body">
                    {% block elements %}

                    {% endblock %}
                    <table id="datatable" class="table table-bordered table-condensed table-hover table-striped"
                           style="width: 100%">
                        {% block table %}

                        {% endblock %}
                    </table>
                </div>
                <div class="panel-footer">
                    <br>
                    {% block table_footer %}
                        <a type="button" class="btn btn-default btn-sm" id="reload"
                           onclick=" location.reload();">
                            <i class="fas fa-sync-alt"></i> Actualizar
                        </a>
                    {% endblock %}
                </div>
            </div>
        </div>
        {% block botones %}

        {% endblock %}

        <!-- /.container-fluid -->
    </div>

    {% block modal %}

    {% endblock %}
{% endblock %}
{% block script %}
    <!-- daterangepicker -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="{% static "lib/daterangepicker-3.1/spanish.js" %}"></script>
    <script src="{% static "lib/daterangepicker-3.1/daterangepicker.js" %}"></script>
    <link rel="stylesheet" href="{% static 'lib/daterangepicker-3.1/daterangepicker.css' %}">
    <script src="{% static "lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js" %}"></script>
    <script src="{% static "lib/jquery-ecuador/dist/ruc_jquery_validator.min.js" %}"></script>

    <script type="text/javascript"
            src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
{% endblock %}
