{% extends 'front-end/login2.html' %}
{% block formulario %}
    <div class="tab-content">
        <div id="forgot" class="tab-pane active">
            <form id="form" method="post">
                <p class="text-muted text-center">Ingresa tu nombre de usuario</p>
                {{ form.as_p }}
                <br>
                <button class="btn btn-lg btn-danger btn-block" type="submit" id="reset_button">Resetear contrseña</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="text-center">
        <ul class="list-inline">
            <li><a class="text-muted" onclick="location.href= '{% url 'login' %}'" data-toggle="tab">Volver al Login</a>
            </li>
        </ul>

    </div>
{% endblock %}