{% load static %}
<div id="left">
    <div class="media user-media bg-dark dker">
        <div class="user-media-toggleHover">
            <span class="fa fa-user"></span>
        </div>
        <div class="user-wrapper bg-dark">
            <a class="user-link" href="">
                <img class="media-object img-thumbnail user-img" alt="User Picture"
                     src="{{ request.user.get_image }}" width="64" height="64">
            </a>

            <div class="media-body">
                <h5 class="media-heading">{{ request.user.get_full_name }}</h5>
                <ul class="list-unstyled user-info">
                    <li><a href="">Administrator</a></li>
                    <li>Ultimo acceso : <br>
                        <small><i class="fa fa-calendar"></i>&nbsp;{{ request.user.last_login }}</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #menu -->
    <ul id="menu" class="bg-blue dker">
        <li class="nav-header">Menu</li>
        <li class="nav-divider"></li>
        <li class="">
            <a href="{% url 'menu' %}">
                <i class="fa fa-dashboard"></i><span class="link-title">&nbsp;Menu principal</span>
            </a>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="far fa-folder-open"></i>
                <span class="link-title">Ingresos</span>
                <span class="fa arrow"></span>
            </a>
            <ul class="collapse">
                <li>
                    <a href="{% url 'compra:lista' %}">
                        <i class="fa fa-angle-right"></i>&nbsp; Compras </a>
                </li>
                <li>
                    <a href="{% url 'lote:nuevo' %}">
                        <i class="fa fa-angle-right"></i>&nbsp; Lotes </a>
                </li>
                <li>
                    <a href="{% url 'cliente:lista' %}">
                        <i class="fa fa-angle-right"></i>&nbsp; Clientes </a>
                </li>
                <li>
                    <a href="{% url 'empleado:lista' %}">
                        <i class="fa fa-angle-right"></i>&nbsp; Empleados </a>
                </li>
                <li>
                    <a href="{% url 'galpon:lista' %}">
                        <i class="fa fa-angle-right"></i>&nbsp; Galpones</a>
                </li>
                <li>
                    <a href="{% url 'medicina:lista' %}">
                        <i class="fa fa-angle-right"></i>&nbsp; Medicinas </a>
                </li>
                <li>
                    <a href="{% url 'alimento:lista' %}">
                        <i class="fa fa-angle-right"></i>&nbsp; Alimentos </a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="fas fa-crow"></i>
                <span class="link-title">Produccion</span>
                <span class="fa arrow"></span>
            </a>
            <ul class="collapse">
                <li>
                    <a href="{% url 'distribucion:lista' %}">
                        <i class="fa fa-angle-right"></i>&nbsp; Control de Produccion </a>
                </li>
                <li>
                    <a href="{% url 'lote:lista' %}">
                        <i class="fa fa-angle-right"></i>&nbsp; Control de Lotes </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url 'venta:lista' %}">
                <i class="fas fa-piggy-bank"></i>
                <span class="link-title"> Ventas</span> </a>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="fas fa-file-signature"></i>
                <span class="link-title">Reportes</span>
                <span class="fa arrow"></span>
            </a>
            <ul class="collapse">
                <li>
                    <a href="javascript:;">Produccion <span class="fa arrow"></span> </a>
                    <ul class="collapse">
                        <li><a href="{% url 'lote:report' %}"><i class="fa fa-angle-right"></i>&nbsp; Produccion por
                            Lote </a></li>
                        <li><a href="{% url 'distribucion:reporte' %}"><i class="fa fa-angle-right"></i>&nbsp; Producion
                            por Galpon </a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">Compras <span class="fa arrow"></span> </a>
                    <ul class="collapse">
                        <li><a href="{% url 'compra:report_total' %}"><i class="fa fa-angle-right"></i> Totales</a></li>
                        <li><a href="{% url 'compra:report_by_product' %}"><i class="fa fa-angle-right"></i> Por
                            Producto</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">Ventas <span class="fa arrow"></span> </a>
                    <ul class="collapse">
                        <li><a href="{% url 'venta:report_total' %}"><i class="fa fa-angle-right"></i> Totales</a></li>
                        <li><a href="{% url 'venta:report_by_product' %}"><i class="fa fa-angle-right"></i> Por Producto</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'insumo:reporte' %}">
                        <i class="fa fa-angle-right"></i>&nbsp; Stock Insumos </a>
                </li>
                <li>
                    <a href="{% url 'empleado:report' %}">
                        <i class="fa fa-angle-right"></i>&nbsp; Empleados </a>
                </li>
                <li>
                    <a href="{% url 'cliente:report' %}">
                        <i class="fa fa-angle-right"></i>&nbsp; Clientes </a>
                </li>
            </ul>
        </li>
        <li class="nav-divider"></li>
        <li>
            <a><i class="fas fa-lock-open"></i> <span class="link-title">Seguridad</span> <span class="fa arrow"></span> </a>
            <ul class="collapse">
                <li><a href="{% url 'user:lista' %}"><i class="fa fa-angle-right"></i> Usuarios</a></li>
                <li><a href="{% url 'user:groups' %}"><i class="fa fa-angle-right"></i> Grupos</a>
                <li><a href="{% url 'empresa:editar' %}"><i class="fa fa-angle-right"></i> Configurar Empresa</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- /#menu -->
</div>
{#<!-- End of Sidebar -->#}