{% load static %}
<div id="left">
    <div class="media user-media bg-dark dker">
        <div class="user-media-toggleHover">
            <span class="fa fa-user"></span>
        </div>
        <div class="user-wrapper bg-dark">
            <a class="user-link" href="">
                <img class="media-object img-thumbnail user-img" alt="User Picture"
                     src="{{ request.user.get_image }}" width="64" height="64">
            </a>


            <div class="media-body">
                <h4 class="media-heading">{{ request.user.get_full_name }}</h4>
                <ul class="list-unstyled user-info">


                    <li>Ultimo acceso : <br>
                        <small><i class="fa fa-calendar"></i>&nbsp;{{ request.user.last_login }}</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #menu -->
    <ul id="menu" class="bg-blue dker">
        <li class="nav-header">Menu</li>
        <li class="">
            <a href="{% url 'menu' %}">
                <i class="fa fa-dashboard"></i><span class="link-title">&nbsp;Menu principal</span>
            </a>
        </li>
        <li class="nav-divider"></li>
        <li class="nav-header">Perfiles</li>
       {% if request.user.groups.all %}
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false"
                               class="nav-link{% if request.user.groups.all.count > 1 %} dropdown-toggle{% endif %}">Pefil Actual: {{ request.session.group }}</a>
                            {% if request.user.groups.all.count > 1 %}
                                <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow"
                                    style="left: 0px; right: inherit;">
                                    {% for g in request.user.groups.all %}
                                        {% if g.id != request.session.group.id %}
                                            <li><a href="{% url 'user:user_change_group' g.id %}"
                                                   class="dropdown-item">{{ g.name }} </a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endif %}
        <li class="nav-divider"></li>
        <li>
            <a><i class="fas fa-lock-open"></i> <span class="link-title">Seguridad</span> <span class="fa arrow"></span>
            </a>
            <ul class="collapse">
                {% if perms.user.add_user %}
                    <li><a href="{% url 'user:lista' %}"><i class="fa fa-angle-right"></i> Usuarios</a></li>
                {% endif %}
                {% if perms.auth.add_group %}
                    <li><a href="{% url 'user:groups' %}"><i class="fa fa-angle-right"></i> Grupos</a>
                {% endif %}
                {% if perms.empresa.add_empresa %}
                    <li><a href="{% url 'empresa:editar' %}"><i class="fa fa-angle-right"></i> Configurar Empresa</a>
                    </li>
                {% endif %}
            </ul>
        </li>
        <li class="" id="module_produccion">
            <a href="javascript:;">
                <i class="fas fa-crow"></i>
                <span class="link-title">Produccion</span>
                <span class="fa arrow"></span>
            </a>
            <ul class="collapse">
                {% if perms.galpon.add_galpon %}
                    <li><a href="{% url 'galpon:lista' %}"><i class="fa fa-angle-right"></i>&nbsp; Galpones</a></li>
                {% endif %}
                {% if perms.lote.add_lote %}
                    <li><a href="{% url 'lote:nuevo' %}"><i class="fa fa-angle-right"></i>&nbsp; Gestion de Produccion
                    </a></li>
                {% endif %}
                {% if perms.distribucion.add_distribucion %}
                    <li><a href="{% url 'distribucion:lista' %}"><i class="fa fa-angle-right"></i>&nbsp; Gestion de
                        Galpones </a></li>
                {% endif %}
                {% if perms.lote.add_lote %}
                    <li><a href="{% url 'lote:lista' %}"><i class="fa fa-angle-right"></i>&nbsp; Control de Lotes </a>
                    </li>
                {% endif %}
                {% if perms.medicina.add_medicina %}
                    <li>
                        <a href="{% url 'medicina:lista' %}">
                            <i class="fa fa-angle-right"></i>&nbsp; Medicinas </a>
                    </li>
                {% endif %}
                {% if perms.alimento.add_alimento %}
                    <li>
                        <a href="{% url 'alimento:lista' %}">
                            <i class="fa fa-angle-right"></i>&nbsp; Alimentos </a>
                    </li>
                {% endif %}
                {% if perms.raza.add_raza %}
                    <li>
                        <a href="{% url 'raza:lista' %}">
                            <i class="fa fa-angle-right"></i>&nbsp; Aves </a>
                    </li>
                {% endif %}
            </ul>
        </li>
        <div>
            <br>
            {% if perms.cliente.add_cliente %}
                <li class="">
                    <a href="javascript:;">
                        &nbsp;&nbsp;<i class="far fa-users"></i>
                        <span class="link-title">Clientes</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="collapse">
                        <br>

                        <li>
                            <a href="{% url 'cliente:lista' %}">
                                <i class="fa fa-angle-right"></i>&nbsp; Clientes </a>
                        </li>

                    </ul>
                </li>
                <br>
            {% endif %}
            <li class="">
                <a href="javascript:;">
                    &nbsp;&nbsp;<i class="fa fa-shopping-bag"></i>
                    <span class="link-title">Compras</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="collapse">
                    <br>
                    {% if perms.compra.add_compra %}
                        <li>
                            <a href="{% url 'compra:lista' %}">
                                <i class="fa fa-angle-right"></i>&nbsp; Compras </a>
                        </li>
                    {% endif %}
                    <br>
                    {% if perms.proveedor.add_proveedor %}
                        <li>
                            <a href="{% url 'proveedor:lista' %}">
                                <i class="fa fa-angle-right"></i>&nbsp; Proveedores </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
            <br>
            {% if perms.empleado.add_empleado %}
                <li class="">
                    <a href="javascript:;">
                        &nbsp;&nbsp;<i class="fa fa-user-plus"></i>
                        <span class="link-title">Empleados</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="collapse">
                        <br>
                        <li>
                            <a href="{% url 'empleado:lista' %}">
                                <i class="fa fa-angle-right"></i>&nbsp; Empleados </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </div>
        <br>
        {% if perms.ventas.add_ventas %}
            <li>
                <a href="{% url 'venta:lista' %}">
                    <i class="fas fa-piggy-bank"></i>
                    <span class="link-title"> Ventas</span> </a>
            </li>
        {% endif %}
        <li class="nav-divider"></li>
        {% if perms.reportes.view_reportes %}
            <li class="">
                <a href="javascript:;">
                    <i class="fas fa-file-signature"></i>
                    <span class="link-title">Reportes</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="collapse">
                    <li>
                        <a href="javascript:;">Produccion <span class="fa arrow"></span> </a>
                        <ul class="collapse">
                            <li><a href="{% url 'lote:report' %}"><i class="fa fa-angle-right"></i>&nbsp; Produccion por
                                Lote </a></li>
                            <li><a href="{% url 'distribucion:reporte' %}"><i class="fa fa-angle-right"></i>&nbsp;
                                Producion
                                por Galpon </a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">Compras <span class="fa arrow"></span> </a>
                        <ul class="collapse">
                            <li><a href="{% url 'compra:report_total' %}"><i class="fa fa-angle-right"></i> Totales</a>
                            </li>
                            <li><a href="{% url 'compra:report_by_product' %}"><i class="fa fa-angle-right"></i> Por
                                Producto</a></li>
                            <li><a href="{% url 'compra:devoluciones' %}"><i class="fa fa-angle-right"></i> Devoluciones</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">Ventas <span class="fa arrow"></span> </a>
                        <ul class="collapse">
                            <li><a href="{% url 'venta:report_total' %}"><i class="fa fa-angle-right"></i> Totales</a>
                            </li>
                            <li><a href="{% url 'venta:report_by_product' %}"><i class="fa fa-angle-right"></i> Por
                                Producto</a>
                            <li><a href="{% url 'venta:devoluciones' %}"><i class="fa fa-angle-right"></i> Devoluciones</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'insumo:reporte' %}">
                            <i class="fa fa-angle-right"></i>&nbsp; Stock Insumos </a>
                    </li>
                    <li>
                        <a href="{% url 'empleado:report' %}">
                            <i class="fa fa-angle-right"></i>&nbsp; Empleados </a>
                    </li>
                    <li>
                        <a href="{% url 'cliente:report' %}">
                            <i class="fa fa-angle-right"></i>&nbsp; Clientes </a>
                    </li>
                </ul>
            </li>
        {% endif %}

    </ul>


    <!-- /#menu -->
</div>
{#<!-- End of Sidebar -->#}