{% extends 'front-end/list.html' %}
{% load static %}
{% block formulario %}
    <div class="card col-xl-12">
        <div class="card-body">
            <div class="col-xl-12 col-lg-12" id="div_form">
                <form class="form-horizontal" id="form" method="POST" action="{{ crud }}">
                     <div class="panel panel-primary">
                        <!-- Card Header -->
                        <div class="panel-heading py-3">
                            <div class="container">
                                <h4 class="m-0 font-weight-bold"><i
                                        class="far fa-edit"></i> Formulario de Registro</h4>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="panel-body">
                            {% csrf_token %}
                            {{ form.media }}
                            <input type="hidden" id="action" name="action" value="{{ action }}">
                            <input type="hidden" id="indice" name="indice" value="{{ empresa.indice }}">
                            <input type="hidden" id="iva" name="iva" value="{{ empresa.iva }}">
                            <input type="hidden" name="option" value="{{ option }}">
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <div class="row">
                                <div class="col-lg-5">
                                    {{ form.as_p }}
                                </div>
                            </div>
                            <br>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <button class="btn btn-success btn-sm" type="button"
                                                onclick="location.reload();"><i
                                                class="fa fa-plus"></i> Nuevo
                                        </button>
                                        <button class="btn btn-primary btn-sm" type="submit"><i
                                                class="fa fa-save"></i> {{ boton }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}
{% block table %}
    <thead>
    <tr>
        <th style="width: 18%">ID</th>
        <th style="width: 18%">Nombre</th>
        <th style="width: 10%" class="text-center">Opciones</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
{% endblock %}
{% block extra %}
    <script src="{% static 'apps/raza/list.js' %}"></script>
{% endblock %}