{% extends 'front-end/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800"><i class="{{ icono }}"></i> {{ entidad }}</h1>
        <br>
        <!-- Content Row -->
        <div class="row">
            <div class="col-xl-12 col-sm-12" id="div_table">
                <!-- Tabla Listado -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-list-ol"></i> {{ titulo_lista }}
                        </h6>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label> Realizar abono:</label>
                            <div class="input-group">
                                <input type="text" name="abono" class="form-control" value="1.00"
                                       id="id_abono" aria-invalid="false">
                            </div>
                        </div>
                        <br>
                        <table id="datatable" class="table table-bordered table-hover" style="width: 100%">
                            <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Fecha pago</th>
                                <th>Letra</th>
                                <th>Valor Pagado</th>
                                <th>Saldo</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <br>
                    </div>


                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-sm btn-flat" id="save">
                            <i class="far fa-save"></i> {{ boton }}
                            <span class="ripple ripple-animate"
                                  style="height: 115px; width: 115px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.4; top: -47.875px; left: -23.5px;"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm btn-flat"
                                onclick="window.history.back();">
                            <i class="fas fa-times"></i> Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra %}
    <script src="{% static "lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js" %}"></script>
    <script src="{% static 'apps/ctas_cobrar/pagar.js' %}"></script>
{% endblock %}


{#    <input type="hidden" id="action" name="action" value="{{ action }}">#}
{#    <input type="hidden" name="crud" value="{{ crud }}">#}
{#    <input type="hidden" name="key" value="{{ key }}">#}
{#    <div class="card card-secondary">#}
{#        <div class="card-header">#}
{#            <h4> &nbsp;<i class="{{ icono }}"></i> {{ titulo }}</h4>#}
{#        </div>#}
{#        <div class="card-body">#}
{#            <div class="container col-lg-12">#}


{#                            <div class="card-body">#}
{#                                <div class="form-group">#}
{#                                    <label for="id_fecha_compra">{{ form.fecha_compra.label_tag }}</label>#}
{#                                    <div class="input-group">#}
{#                                        {{ form.fecha_compra }}#}
{#                                        <div class="input-group-append">#}
{#                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <label for="id_proveedor">{{ form.proveedor.label_tag }}</label>#}
{#                                    <div class="input-group form-group-lg">#}
{#                                        {{ form.proveedor }}#}
{#                                        <div class="input-group-append">#}
{#                                            <button class="btn btn-primary btn-xs" id="id_new_proveedor" type="button">#}
{#                                                <i class="fas fa-user-plus"></i></button>#}
{#                                        </div>#}
{#                                    </div>#}
{##}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <label for="id_subtotal">{{ form.subtotal.label_tag }}</label>#}
{#                                    <div class="input-group">#}
{#                                        {{ form.subtotal }}#}
{#                                        <div class="input-group-append">#}
{#                                            <span class="input-group-text">$</span>#}
{#                                        </div>#}
{#                                    </div>#}
{##}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <label for="id_iva">{{ form.iva.label_tag }}</label>#}
{#                                    <div class="input-group">#}
{#                                        {{ form.iva }}#}
{#                                        <div class="input-group-append">#}
{#                                            <span class="input-group-text">$</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <label for="id_total">{{ form.total.label_tag }}</label>#}
{#                                    <div class="input-group">#}
{#                                        {{ form.total }}#}
{#                                        <div class="input-group-append">#}
{#                                            <span class="input-group-text">$</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-8 col-md-12">#}
{#                        <div class="card card-primary">#}
{#                            <div class="card-header">#}
{#                                <h3><i class="fab fa-amazon"></i> Detalle de Materiales</h3>#}
{#                            </div>#}
{#                            <div class="card-body">#}
{#                                <div class="panel-group">#}
{#                                    <div class="form-group">#}
{#                                        <label> Buscar Materiales:</label>#}
{#                                        {{ form2.material }}#}
{#                                    </div>#}
{#                                    <br>#}
{#                                    <button type="button" class="btn btn-danger btn-sm btn-flat btnRemoveall">#}
{#                                        <i class="far fa-trash-alt"></i> Eliminar todos los Materiales#}
{#                                    </button>#}
{#                                    <br><br>#}
{#                                    <div class="table-responsive">#}
{#                                        <table class="table" id="tblinsumos">#}
{#                                            <thead>#}
{#                                            <tr>#}
{#                                                <th><em class="fas fa-trash-alt"></em></th>#}
{#                                                <th>Material</th>#}
{#                                                <th>Catg</th>#}
{#                                                <th>Prst</th>#}
{#                                                <th>Cant</th>#}
{#                                                <th>P. Compra</th>#}
{#                                                <th>Subtotal</th>#}
{#                                            </tr>#}
{#                                            </thead>#}
{#                                            <tbody>#}
{#                                            </tbody>#}
{#                                        </table>#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-lg-12">#}
{#            <button type="submit" class="btn btn-primary btn-sm btn-flat" id="save">#}
{#                <i class="far fa-save"></i> {{ boton }}#}
{#                <span class="ripple ripple-animate"#}
{#                      style="height: 115px; width: 115px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.4; top: -47.875px; left: -23.5px;"></span>#}
{#            </button>#}
{#            <button type="button" class="btn btn-danger btn-sm btn-flat"#}
{#                    onclick="window.history.back();">#}
{#                <i class="fas fa-times"></i> Cancelar#}
{#            </button>#}
{##}
{#        </div>#}
{#        <br>#}
{#    </div>#}
{#    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#        <form method="post" id="form" enctype="multipart/form-data" action=".">#}
{#            <div class="modal-dialog">#}
{#                <div class="modal-content">#}
{#                    <div class="modal-header">#}
{#                        <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-user-plus"></i>&nbsp;Registro de#}
{#                            un Proveedor</h5>#}
{#                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                            <span aria-hidden="true">&times;</span>#}
{#                        </button>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        <div class="container-fluid">#}
{#                            <div class="form-group">#}
{#                                {{ formp.as_p }}#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <input type="hidden" value="{{ action }}">#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i#}
{#                                class="fas fa-user-times"></i> Cancelar#}
{#                        </button>#}
{#                        <button type="submit" class="btn btn-primary"><i class="far fa-save"></i>&nbsp;Guardar Proveedor#}
{#                        </button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </form>#}
{##}
{#    </div>#}
{#    <div hidden="hidden">#}
{#        <form method="POST" action="/inventario/nuevo" id="form_in">#}
{#            <input type="text" name="datos">#}
{#        </form>#}
{#    </div>#}
{##}
