{% extends 'front-end/list.html' %}
{% load static %}
{% block table %}
    <thead>
    <tr>
        <th style="width: 18%">Nombre</th>
        <th style="width: 10%">Categoria</th>
        <th style="width: 10%;">Presentacion</th>
        <th style="width: 8%">Stock</th>
        <th style="width: 13%">Descripcion</th>
        <th style="width: 8%">Pvp</th>
        <th style="width: 8%">P. Compra</th>
        <th style="width: 8%">Imagen</th>
        <th style="width: 10%" class="text-center"><em class="fa fa-cog"></em></th>
    </tr>
    </thead>
    <tbody>

    </tbody>
{% endblock %}
{% block formulario %}
    <div class="col-xl-4 col-lg-5" style="display: none" id="div_form">

        <form class="cmxform form-horizontal style-form" id="form" method="POST" action="{{ crud }}"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}

            <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"><i
                            class="far fa-edit"></i> Formulario de Registro</h6>
                </div>
                <div class="card-body">
                    <input type="hidden" id="action" name="action" value="{{ action }}">
                    <input type="hidden" id="indice" name="indice" value="{{ empresa.indice }}">
                    <input type="hidden" id="iva" name="iva" value="{{ empresa.iva }}">
                    <input type="hidden" name="option" value="{{ option }}">
                    <div class="form-group col-lg-12">
                        <label style="font-size: 13px;"><strong>{{ form.producto_base.label_tag }}</strong></label>
                        <div class="input-group form-group-lg col-lg-12">
                            {{ form.producto_base }}
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-xs" id="id_new_producto" type="button"><i
                                        class="fas fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label style="font-size: 13px;"><strong>Descripcion</strong></label>
                        <div class="input-group form-group-lg col-lg-12">
                            <input type="text" name="descr" readonly class="form-control form-control-sm input-sm"
                                   id="id_des"
                                   aria-invalid="false">
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label style="font-size: 13px;"><strong>Categoria</strong></label>
                        <div class="input-group form-group-lg col-lg-12">
                            <input type="text" name="cat" readonly class="form-control form-control-sm input-sm"
                                   id="id_cat"
                                   aria-invalid="false">
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label style="font-size: 13px;"><strong>{{ form.presentacion.label_tag }}</strong></label>
                        <div class="input-group form-group-lg col-lg-12">
                            {{ form.presentacion }}
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-xs" id="id_new_presentacion" type="button"><i
                                        class="fas fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label for="id_imagen">{{ form.imagen.label_tag }}</label>
                        <div class="input-group form-group-lg col-lg-10">
                            <div id="check_image">
                                {{ form.imagen }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label style="font-size: 13px;"><strong>{{ form.pcp.label_tag }}</strong></label>
                        <div class="col-lg-12">
                            {{ form.pcp }}
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label style="font-size: 13px;"><strong>{{ form.pvp.label_tag }}</strong></label>
                        <div class="col-lg-12">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                </div>
                                {{ form.pvp }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <button class="btn btn-primary btn-sm" type="submit"><i
                                    class="fa fa-save"></i> {{ boton }}
                            </button>
                            <a type="button" class="btn btn-danger btn-sm" style="color:white;" id="cancel_2">
                                <i class="fas fa-times"></i> Cancelar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade" id="Modal_prod" tabindex="-1" aria-hidden="true">
        <form method="post" id="form_prod" enctype="multipart/form-data">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-plus"></i>&nbsp;Nuevo registro
                            de un Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="form-group">
                                <label style="font-size: 13px;"
                                       class="col-lg-3 control-label"><strong>{{ form_prod.nombre.label_tag }}</strong></label>
                                <div class="col-lg-12">
                                    {{ form_prod.nombre }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="font-size: 13px;"
                                       class="col-lg-3 control-label"><strong>{{ form_prod.descripcion.label_tag }}</strong></label>
                                <div class="col-lg-12">
                                    {{ form_prod.descripcion }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_categoria">{{ form_prod.categoria.label_tag }}</label>
                                <div class="input-group form-group-lg col-lg-12">
                                    {{ form_prod.categoria }}
                                    <div class="input-group-append">
                                        <button class="btn btn-primary btn-xs" id="id_new_categoria" type="button"><i
                                                class="fas fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-danger" data-dismiss="modal" onclick=" reset('#form_prod');"
                           style="color: white"><i class="fas fa-times"></i> Cancelar
                        </a>
                        <button type="submit" class="btn btn-primary"><i class="far fa-save"></i>&nbsp;Guardar
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form method="post" id="form_cat" enctype="multipart/form-data" action=".">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-plus"></i>&nbsp;Nuevo registro
                            de una Cetegoria</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="form-group">
                                {{ form_cat.as_p }}
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-danger" data-dismiss="modal" onclick=" reset('#form_cat');"
                           style="color: white"><i class="fas fa-times"></i> Cancelar
                        </a>
                        <button type="submit" class="btn btn-primary"><i class="far fa-save"></i>&nbsp;Guardar
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form method="post" id="form_pre" enctype="multipart/form-data" action=".">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-plus"></i>&nbsp;Nuevo registro
                            de una Presentacion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="form-group">
                                {{ form_pres.as_p }}
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-danger" data-dismiss="modal" onclick=" reset();"
                           style="color: white"><i class="fas fa-times"></i> Cancelar
                        </a>
                        <button type="submit" class="btn btn-primary"><i class="far fa-save"></i>&nbsp;Guardar
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>
{% endblock %}
{% block extra %}
    <script src="{% static 'apps/producto/list.js' %}"></script>
    <script src="{% static 'apps/producto/form.js' %}"></script>
    <script src="{% static 'apps/categoria/form.js' %}"></script>
    <script src="{% static 'apps/presentacion/form.js' %}"></script>
{% endblock %}